body {
  background-color: rgb(37, 182, 201);
  width: 1000px;
  margin: 10px auto;
  text-align: center;
  padding: 5px;
  user-select: none;
  background-image: url(matrix.jpg);
  background-size: contain;
}

h2 {
  font-family: fantasy;
  color: yellow;
  font-size: 40px;
  text-align: center;
  height: 15px;
}

span{
  font-size: 75px;
  margin-top: 10px;
}

div[id^="row-"] div {
  width: 200px;
  height: 150px;
  border: 2px solid yellow;
  float: left;

}

div[id^="row-"] div:last-child {
  border-right: none;
}

div[id^="row-"] div:first-child {
  border-left: none;
}

div[id="row-1"] div{
  border-top: none;
}

div[id="row-3"] div{
    border-bottom: none;
}

div[id^="row-"] {
  clear: float;
  width: 608px;
  box-sizing: border-box;
  overflow: hidden;
}

div.board {
  width: 608px;
  overflow: hidden;
  margin: 0 auto;
}

div.cells {
  color: yellow;
  font-family: fantasy;
  font-weight: lighter;
  font-size:45pt;
  line-height: 137px;
}

div.cells:hover {
  background-color: blueviolet;
  font-family: fantasy;
  font-weight: lighter;
  font-size:45pt;
  line-height: 137px;
}

div[id = "status area"] {
  background-color: black;
  color: yellow;
  font-family: fantasy;
  font-weight: lighter;
  font-size:25pt;
  width: 608px;
  margin: auto;
  border-width:2px;
  border-style:solid;
  border-color:yellow;
  border-bottom: none;
}
div [id = "Turn Count"] {
  background-color: black;
  color: yellow;
  font-family: fantasy;
  font-weight: lighter;
  font-size:25pt;
  width: 608px;
  margin: auto;
  border-width:2px;
  border-style:solid;
  border-color:yellow;
  border-top: none;
}

.button {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:disabled {
background: grey;
}

.button:hover,
.button:focus {
  background: rgb(230, 181, 181)
}